release/**
.gradle/**
**/.DS_Store
ccb2lr/*.gv
ccb2lr/*.gv.svg
target/**
*/target/**
/bin/
products/com.ibm.safr.we.product/target/**
plugins/genevagui/.metadata/**
plugins/genevagui/lib/**
plugins/nebulatablecombo/target/**
ccb2lr/src/main/antlr4/org/genevaers/ccb2lr/grammar/.antlr/**
**/.polyglot*
**/.settings/**
!plugins/genevagui/.settings/*
**/.classpath*
**/workspace/.metadata
**/*.tycho
**/.project