Java_GUI/lib/antlr4-runtime-4.5.jar
Java_GUI/lib/postgresql-42.2.16.jar
Java_GUI/lib/postgresql-42.2.18.jar
Java_GUI/lib/sycadas.jar
product/libs/antlr4-runtime-4.5.jar
product/libs/postgresql-42.2.16.jar
product/libs/postgresql-42.2.18.jar
product/libs/sycadas.jar
release/**
.gradle/**
**/.DS_Store
ccb2lr/*.gv
ccb2lr/*.gv.svg
target/**
*/target/**
/bin/
products/com.ibm.safr.we.product/target/**
plugins/genevagui/.metadata/.lock
plugins/genevagui/.metadata/version.ini
plugins/genevagui/.metadata/.mylyn/.tasks.xml.zip
plugins/genevagui/.metadata/.mylyn/repositories.xml.zip
plugins/genevagui/.metadata/.mylyn/tasks.xml.zip
plugins/genevagui/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
plugins/genevagui/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
plugins/genevagui/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
plugins/genevagui/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
plugins/genevagui/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
plugins/genevagui/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
plugins/genevagui/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.usagedata.recording.prefs
plugins/genevagui/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.equinox.p2.ui.sdk.prefs
plugins/genevagui/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
plugins/genevagui/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
plugins/genevagui/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.java.ui.prefs
plugins/genevagui/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
plugins/genevagui/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
plugins/genevagui/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
plugins/genevagui/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
plugins/genevagui/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
plugins/genevagui/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
plugins/genevagui/.metadata/.plugins/org.eclipse.epp.usagedata.recording/upload0.csv
plugins/genevagui/.metadata/.plugins/org.eclipse.epp.usagedata.recording/upload1.csv
plugins/genevagui/.metadata/.plugins/org.eclipse.epp.usagedata.recording/upload2.csv
plugins/genevagui/.metadata/.plugins/org.eclipse.epp.usagedata.recording/upload3.csv
plugins/genevagui/.metadata/.plugins/org.eclipse.epp.usagedata.recording/upload4.csv
plugins/genevagui/.metadata/.plugins/org.eclipse.epp.usagedata.recording/upload5.csv
plugins/genevagui/.metadata/.plugins/org.eclipse.epp.usagedata.recording/upload6.csv
plugins/genevagui/.metadata/.plugins/org.eclipse.epp.usagedata.recording/upload7.csv
plugins/genevagui/.metadata/.plugins/org.eclipse.epp.usagedata.recording/upload8.csv
plugins/genevagui/.metadata/.plugins/org.eclipse.epp.usagedata.recording/upload9.csv
plugins/genevagui/.metadata/.plugins/org.eclipse.epp.usagedata.recording/usagedata.csv
plugins/genevagui/.metadata/.plugins/org.eclipse.equinox.p2.ui.sdk/dialog_settings.xml
plugins/genevagui/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
plugins/genevagui/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
plugins/genevagui/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
plugins/genevagui/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
plugins/genevagui/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
plugins/genevagui/.metadata/.plugins/org.eclipse.ui.workbench/workbench.xml
plugins/genevagui/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
plugins/genevagui/.metadata/.plugins/org.eclipse.update.ui/dialog_settings.xml
