$sidebar-color:           #F0F8FF ;
//                               alice blue  
$body-background-color:   #FFFFFF ;
//                               white 
$link-color:              #002EA3 ;
//                               new dark branded blue;

//Branded Colors from GERS community issue 97
//dark blue    #2A1F9D  ;
//lighter blue #556EDE  ;
//New dark blue  #002EA3
//New light blue #237AE4
//
//$white: #ffffff !  white 1 - older default;
//$white: #959396 !  white 2 - default;
//lightskyblue:  #B0E2FF
//ghostwhite:    #F8F8FF
//sliver:        #E6E8FA
//Azure:         #F0FFFF
//LightBlue1     #BFEFFF
//Slategray      #C6E2FF
//LightSteelBlue #CAE1FF
//Lavender       #E6E6FA
//ghostblue1 EM  #D5E7FF
//ghostblue2 EM  #F0F0FF

//
//$white: #fff    !  white 1 - older default - looks pinkish;
//$white: #959396 !  white 2 - default - looks pinkish;
//$grey-dk-000: #959396 !default;  Grey - can read the writing.
//$grey-dk-100: #5c5962 !default;  Lighter grey but thick
//$grey-dk-200: #44434d !default;  Very dark
//$grey-dk-250: #302d36 !default;  Very dark
//$grey-dk-300: #27262b !default;  Very dark
//$grey-lt-000: #f5f6fa !default;   Very soft grey
//$grey-lt-100: #eeebee !default;   Soft grey slight purple tinge
//$grey-lt-200: #ecebed !default;   Light grey that is grey
//$grey-lt-300: #e6e1e8 !default;   Light grey - fairly dark
//$blue-000: #2c84fa !default;   Very light blue
//$blue-100: #2869e6 !default;   Light blue
//$blue-200: #264caf !default;   Medium blue
//$blue-300: #183385 !default;   Very dark blue
//aliceblue: #F0F8FF   ! 

//$body-background-color: $grey-lt-300 !default;          All right hand side
//$sidebar-color: $grey-lt-300 !default;                  All left hand side
//$search-background-color: $grey-lt-300 !default;        Does nothing.
//$table-background-color: $grey-lt-300 !default;
//$code-background-color: $grey-lt-300 !default;
//$feedback-color: darken($sidebar-color, 3%) !default;
//
//$body-text-color: $grey-dk-100 !default;
//$body-heading-color: $grey-dk-300 !default;              Text in heading
//$search-result-preview-color: $grey-dk-000 !default;
//$nav-child-link-color: $grey-dk-100 !default;
//$link-color: $purple-000 !default;
//$btn-primary-color: $purple-100 !default;
//$base-button-color: #f7f7f7 !default;
