<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="target-platform.target" sequenceNumber="15">
    <locations>
	    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		    <repository location="http://download.eclipse.org/releases/2023-09"/>
		    <unit id="org.eclipse.platform.sdk" version="0.0.0"/>
		    <unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
		    <unit id="org.eclipse.equinox.p2.sdk.feature.group" version="0.0.0"/>
		    <unit id="org.eclipse.equinox.simpleconfigurator" version="0.0.0"/>
		    <unit id="org.eclipse.draw2d" version="0.0.0"/>
		    <unit id="org.junit" version="0.0.0"/>
		    <unit id="org.eclipse.jdt.core" version="0.0.0"/>
		    <unit id="org.eclipse.gef" version="0.0.0"/>
		    <unit id="com.google.guava" version="0.0.0"/>
	    </location>
    </locations>
</target>